<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("HeadPartial")
</head>
<body>
    <header>
        @await Html.PartialAsync("HeaderPartial")
    </header>

    @await Html.PartialAsync("ScriptsPartial")

    <main role="main" class="container-fluid">
        @RenderBody()
    </main>

    <footer class="container-fluid">
        @await Html.PartialAsync("FooterPartial")
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>