<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_HeadPartial")
</head>
<body>
    <header>
        @await Html.PartialAsync("_HeaderPartial")
    </header>

    @await Html.PartialAsync("_ScriptsPartial")

    <main role="main" class="container-fluid">
        @RenderBody()
    </main>

    <footer class="container-fluid">
        @await Html.PartialAsync("_FooterPartial")
    </footer>

    @await RenderSectionAsync("_Scripts", required: false)
</body>
</html>