<div class="container">
    <div class="row text-center custom-text-color">
        <h2>Ой, вы попали не туда.</h2>
        <div>
            <a asp-action="GetCars" asp-controller="Car" class="custom-btn-orange">Вернуться назад</a>
        </div>
    </div>
</div>