@using MainTz.Web.ViewModels.CarViewModels
@model CarsModelResponse

<div id="FavoriteCarsContainer" class="row">
    @await Html.PartialAsync("GetFavoriteCarsPartial", Model.Cars)
</div>
<div class="text-center py-2">
    @if(Model.Cars.Count() == 0)
    {
        <a asp-action="GetCars" asp-controller="Car" class="custom-btn-orange">
            У вас пока нет отмеченных машин. Хотите вернуться к списку товаров?
        </a>
    }
    else if(Model.Cars.Count() > 4)
    {
        for (int i = 1; i < Model.PageCount + 1; i++)
        {
            <button id="pageCountBtn_@i" class="custom-btn-pagging" onclick="SendFavoriteCarsPageNumber(@i)">
                @i
            </button>
        }
    }
</div>