@using MainTz.RestApi.dal.Data.Models.DtoModels
@model IEnumerable<CarDto>

<div class="row bg-light fn-view-size">
	<div class="row">
		<div class="col-3 fw-bold">Id</div>
		<div class="col-3 fw-bold">Бренд</div>
		<div class="col-3 fw-bold">Модель</div>
		<div class="col-3 fw-bold">Цвет</div>
		@foreach (var car in Model)
		{
			<div class="col-3">@car.Id</div>
			<div class="col-3">@car.Brand</div>
			<div class="col-3">@car.Model</div>
			<div class="col-3">@car.Color</div>
		}
	</div>
</div>