:root {
    --dark-gray-color: #302f2f;
    --light-gray-color: #b8b8b8;
    --light-orange-color: #cc7d06;
    --dark-orange-color: #db8709;
}

/*========================Global========================*/

html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

/*========================Header========================*/

header {
    background-color: var(--dark-gray-color)!important;
    color: var(--light-orange-color)!important;
}

/*=========================Body=========================*/

body {
    margin-bottom: 60px;
    background-color: var(--light-gray-color);
}

/*=========================Form=========================*/

.rest-api-form{
    border-radius: 5px;
    background-color:lightblue;
}

.fn-view-size{
    font-size:28px;
}

/*========================Footer========================*/

footer {
    background-color: var(--dark-gray-color) !important;
    color: var(--light-orange-color) !important;
    font-size: 18px;
}

.custom-btn-orange{
    color: var(--light-orange-color);
    text-decoration: none;
    transition: .2s;
}

.custom-btn-orange:hover {
    color: var(--light-gray-color) !important;
}

.custom-btn-white{
    color: var(--light-gray-color);
    text-decoration: none;
    transition: .2s;
}

.custom-btn-white:hover {
    color: var(--light-orange-color) !important;
}

.footer-border{
    border-color: var(--light-orange-color)!important;
}