<div class="row">
	<form method="post" asp-area="" asp-controller="Admin" asp-action="CreateUser">
		<div>
			<label>Id:</label> <input type="text" name="Id" /><br />
		</div>
		<div>
			<label>Бренд:</label> <input type="text" name="Brand" /><br />
		</div>
		<div>
			<label>Модель: </label> <input type="text" name="Model" /><br />
		</div>
		<div>
			<label>Цвет: </label> <input type="text" name="Color" /><br />
		</div>

		<input class="btn btn-success" type="submit" value="Удалить" />
	</form>

	<form method="post" asp-area="" asp-controller="Admin" asp-action="CreateUser">
		<div>
			<label>Id:</label> <input type="text" name="Id" /><br />
		</div>
		<div>
			<label>Бренд:</label> <input type="text" name="Brand" /><br />
		</div>
		<div>
			<label>Модель: </label> <input type="text" name="Model" /><br />
		</div>
		<div>
			<label>Цвет: </label> <input type="text" name="Color" /><br />
		</div>

		<input class="btn btn-danger" type="submit" value="Удалить" />
	</form>
</div>