<h2>Индекс</h2>

<form method="post" asp-controller="Auth" asp-action="GetToken">
    <div>
        <label>Права</label><input type="text" name="Role" />
    </div>

    <button type="submit">Получить права</button>
</form>