<div class="container">
    <div class="row">
        <div class="d-flex align-content-center justify-content-center">
            <form method="post" id="LoginForm" class="form">
                <div class="px-2 py-1">
                    <h2>Login</h2>
		    	    <div class="py-1">
                        <label class="px-1">Имя: </label> <input type="text" name="LoginFormRequest.Name" class="w-100 py-1" /><br />
		    	    </div>
                    <div class="py-1">
                        <lable class="px-1">Пароль: </lable> <input type="password" name="LoginFormRequest.Password" class="w-100 py-1" /><br />
                    </div>
                    <a asp-controller="Auth" asp-action="Register" class="custom-btn-orange px-1">Не зарегистрированы?</a>
                    <div class="py-1 d-flex justify-content-center">
                        <button class="text-center custom-btn-submit-form" type="submit">Войти</button>
		    	    </div>
                 </div>
		    </form> 
        </div>
    </div>
</div>

<script src="~/js/LoginFormScript.js"></script>