<div class="container">
    <div class="row">
        <div class="d-flex align-content-center justify-content-center">
            <form method="post" id="RegisterForm" class="form">
                <div class="px-2 py-1">
                    <h2>Registration</h2>
                    <div class="py-1">
                        <label class="px-1">Имя: </label> <input type="text" name="registerUserRequest.Name" class="w-100 py-1" /><br />
                    </div>
                    <div class="py-1">
                        <lable class="px-1">Почта: </lable> <input type="text" name="registerUserRequest.Email" class="w-100 py-1" /><br />
                    </div>
                    <div class="py-1">
                        <lable class="px-1">Пароль: </lable> <input type="password" name="registerUserRequest.Password" class="w-100 py-1" /><br />
                    </div>
                    <div class="py-1">
                        <lable class="px-1">Повторите пароль: </lable> <input type="password" name="registerUserRequest.ConfirmPassword" class="w-100 py-1" /><br />
                    </div>
                    <div id="RegisterErrorContainer">
                        @await Html.PartialAsync("ErrorViewPartial")
                    </div>
                    <a asp-controller="Auth" asp-action="Login" class="custom-btn-orange px-1">Уже зарегистрированы?</a>
                    <div class="py-1 d-flex justify-content-center">
                        <button type="submit" class="custom-btn-submit-form">Зарегистрироваться</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/RegisterFormScript.js"></script>