<div class="container">
    <div class="row">
        <div class="d-flex align-content-center justify-content-center">
            <form method="post" id="RestorePasswordForm" class="form restorePasswordForm">
                <div class="px-2 py-1">
                    <h2>Восстановление</h2>
                    <div class="py-1">
                        <label class="px-1">Почта: </label> <input type="text" name="RestoreEmailRequest.Email" class="w-100 py-1" /><br />
                    </div>
                    <div id="RestoreMessageContainer">
                        @await Html.PartialAsync("ErrorViewPartial")
                        @await Html.PartialAsync("InfoViewPartial")
                    </div>
                    <div class="py-1 d-flex justify-content-center">
                        <button class="text-center custom-btn-submit-form" type="submit">Сбросить пароль</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/RestorePasswordOnEmailScript.js"></script>