<div class="row">
	<h2>Manager</h2>

    <div class="col">
		<form method="post" asp-area="" asp-controller="Manager" asp-action="CreateCar">
			<div>
				<label>Id:</label> <input type="text" name="Id" /><br />
			</div>
			<div>
				<label>Бренд:</label> <input type="text" name="Brand" /><br />
			</div>
			<div>
				<label>Модель: </label> <input type="text" name="Model" /><br />
			</div>
			<div>
				<label>Цвет: </label> <input type="text" name="Color" /><br />
			</div>

			<input class="btn btn-primary" type="submit" value="Добавить машину" />
		</form>

		<form method="post" asp-area="" asp-controller="Manager" asp-action="DeleteCar">
			<div>
				<label>Id:</label> <input type="text" name="Id" /><br />
			</div>
			<div>
				<label>Бренд:</label> <input type="text" name="Brand" /><br />
			</div>
			<div>
				<label>Модель: </label> <input type="text" name="Model" /><br />
			</div>
			<div>
				<label>Цвет: </label> <input type="text" name="Color" /><br />
			</div>

			<input class="btn btn-danger" type="submit" value="Удалить машину" />
		</form>
    </div>
</div>