@using MainTz.Web.ViewModels.CarViewModels
@model CarsViewModel

@if(Model.CarsResponse != null && Model.CarsResponse?.Count() > 1)
{
<div class="row">
    @foreach (var car in Model.CarsResponse)
    {
        <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12 pt-2">
            @await Html.PartialAsync("CarsViews/CarCardPartial", car)
        </div>
    }
    </div>
}
else
{
    <div class="text-center py-2">
        <p>У вас нет избранных машин</p>
    </div>
}