@using MainTz.Web.ViewModels.UserViewModels
@model UsersViewModel

<div class="container-fluid custom-text-color text-center py-2">
    <div class="row custom-dark-container">
        <table>
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Имя
                    </th>
                    <th>
                        Почта
                    </th>
                    <th>
                        Пароль
                    </th>
                    <th>
                        Роль
                    </th>
                    <th>
                        <label>Фильтр по ролям</label><input onclick="GetUsers(this.checked)" type="checkbox" class="custom-check-box mx-1" value="true" />
                    </th>
                </tr>
            </thead>
            <tbody id="UsersContainer">
                @await Html.PartialAsync("GetUsersPartial", Model.UsersResponse)
            </tbody>
        </table>
    </div>
</div>