@using MainTz.Web.ViewModels.CarViewModels
@model IEnumerable<CarResponse>

<div class="row">
    @foreach (var car in Model)
    {
        <div class="col-3 car-card mx-1">
            <div class="row">
                <img src="~/images/mops_1.jpg" class="py-2 card-image" />
            </div>
            <div class="row">
                <h2>@car.Name</h2>
            </div>
            <div class="row">
                <div class="car-card-description">
                    @car.Description
                </div>
            </div>
        </div>
    }
</div>