<div class="container">
    <div class="row">
        <div class="d-flex align-content-center justify-content-center">
            <form method="post" id="LoginForm">
                <div class="rest-api-form px-2 py-1">
                    <h2>Login</h2>
		    	    <div class="py-2">
                        <label class="px-1">Имя: </label> <input type="text" name="UserDto.Name" class="w-100"/><br />
		    	    </div>
                    <div class="py-2">
                        <lable class="px-1">Пароль: </lable> <input type="password" name="userDto.Password" class="w-100"/><br />
                    </div>
                    <div class="py-2 d-flex justify-content-center">
		    	    	<input class="w-50 h-100 text-center" type="submit" value="Войти" />
		    	    </div>
                 </div>
		    </form> 
        </div>
    </div>
</div>