@using MainTz.Web.ViewModels.CarViewModels
@model IEnumerable<CarResponse>

<div class="row bg-light fn-view-size">
	<h2 class="text-center" style="font-size:38px">Управление автомобилями</h2>
	<div class="col-9">
		<div class="row">
			<div class="col-1 fw-bold">Id</div>
			<div class="col-3 fw-bold">Бренд</div>
			<div class="col-3 fw-bold">Модель</div>
			<div class="col-3 fw-bold">Цвет</div>
			<div class="col-2 fw-bold">Действие</div>
			@if(Model != null)
			{
				foreach (var car in Model)
				{
					<div class="col-1">@car.Id</div>
					<div class="col-3">@car.Color</div>
					<div class="col-2">
						<form method="post" asp-action="DeleteCar" asp-controller="Manager">
							<input type="hidden" name="carDto.Id" value="@car.Id"/>
							<input type="hidden" name="carDto.Color" value="@car.Color"/>

							<button type="submit" class="btn btn-danger">Удалить</button>
						</form>
					</div>
				}
			}
		</div>
	</div>

	<div class="col-3">
		<div class="row user-commands-form py-2">
			<form method="post" asp-area="" asp-controller="Manager" asp-action="CreateCar">
				<div class="d-flex align-items-center">
					<label class="mx-1">Id:</label>
					<input class="w-100 my-1" type="text" name="Id" /><br />
				</div>
				<div class="d-flex align-items-center">
					<label class="mx-1">Бренд:</label>
					<input class="w-100 my-1" type="text" name="Brand" /><br />
				</div>
				<div class="d-flex align-items-center">
					<label class="mx-1">Модель: </label>
					<input class="w-100 my-1" type="text" name="Model" /><br />
				</div>
				<div class="d-flex align-items-center">
					<label class="mx-1">Цвет: </label>
					<input class="w-100 my-1" type="text" name="Color" /><br />
				</div>

				<input class="btn btn-success w-100" type="submit" value="Добавить машину" />
			</form>
		</div>

		<div class="row user-commands-form py-2">
			<form method="post" asp-area="" asp-controller="Manager" asp-action="UpdateCar">
				<div class="d-flex align-items-center">
					<label class="mx-1">Id:</label>
					<input class="w-100 my-1" type="text" name="Id" /><br />
				</div>
				<div class="d-flex align-items-center">
					<label class="mx-1">Бренд:</label>
					<input class="w-100 my-1" type="text" name="Brand" /><br />
				</div>
				<div class="d-flex align-items-center">
					<label class="mx-1">Модель: </label>
					<input class="w-100 my-1" type="text" name="Model" /><br />
				</div>
				<div class="d-flex align-items-center">
					<label class="mx-1">Цвет: </label>
					<input class="w-100 my-1" type="text" name="Color" /><br />
				</div>

				<input class="btn btn-warning w-100" type="submit" value="Редактировать машину" />
			</form>
		</div>
	</div>
</div>