@using MainTz.Web.ViewModels.CarViewModels
@model CarResponse

<div class="car-card">
    <a asp-controller="user" asp-action="CarBigCard" asp-route-id="@Model.Id">
        <div class="row d-flex">
            <img src="~/images/mops_1.jpg" class="product-img" />
        </div>
        <div class="row car-card-header-text">
            <h2>@Model.Name</h2>
        </div>
        <div class="row">
            <div class="car-card-description-text">
                @Model.Description
            </div>
        </div>
    </a>
</div>