@using MainTz.Web.ViewModels.CarViewModels
@model CarResponse

<div class="car-card p-1 col">
    <div>
        <a asp-controller="Car" asp-action="GetBigCarCard" asp-route-id="@Model.Id">
            <img src="~/images/mops_1.jpg" class="product-img" />
        </a>
     </div>
     <div class="car-card-header-text">
         <h2>@Model.Name</h2>
     </div>
     <div class="car-card-description-text text-break">
         @Model.Description
     </div>
      <div class="row">
        <div class="d-flex justify-content-start col">
              <div class="car-card-price px-1 mt-1">
                  @Model.Price
              </div>
          </div>
        <div class="d-flex justify-content-end col">
             <div class="car-card-favorite-offer px-1">
                 <a>
                     <i class="bi bi-bag"></i>
                 </a>
              </div>
              <div class="car-card-favorite-offer px-1">
                  <a>
                     <i class="bi bi-star"></i>
                  </a>
              </div>
          </div>
     </div>
</div>