@using MainTz.Web.ViewModels.CarViewModels
@model CarsViewModel

<div class="row">
    <div id="CarsContainer" class="row">
        @await Html.PartialAsync("GetCarsPartial", Model.CarsResponse)
    </div>
    <div class="text-center py-2">
        @if (User.Identity.IsAuthenticated)
        {
            @for (int i = 1; i < Model.PageCount+1; i++)
            {
                <button id="pageCountBtn_@i" class="custom-btn-pagging" onclick="SendCarsPageNumber(@i)">
                    @i
                </button>
            }
        }
        else
        {
            <a asp-controller="Auth" asp-action="Login" class="custom-btn-orange">
                Хотите увидеть больше? Авторизуйтесь или зарегистрируйтесь
            </a>
        }
    </div>
</div>