@using MainTz.Web.ViewModels
@model NotificationsModel

<div class="container">
        <h2 class="text-center custom-text-color">Уведомления</h2>
    <div class="row custom-dark-container">
        <div class="col-6 custom-text-color text-center" style="border: 2px solid red!important;">
            @foreach (var notification in Model.Notifications)
            {
                <button id="sendNotificationDescription" data-id="@notification.Id">
                    @notification.Header
                </button>
            }
        </div>
        <div class="col-6 custom-text-color" style="border: 2px solid red!important;">
            @if(Model.NotificationsCount != 0)
            {
                <div id="NotificationContainer">
                    @await Html.PartialAsync("GetNotificationById", Model.Notifications.FirstOrDefault());
                </div>
            }
        </div>
    </div>
</div>

<script src="~/js/NotificationDescriptionScript.js"></script>